<common>
  <!-- Вручную выставляемая версия билда (дописывается к автоматически генерируемой). Опционально -->
  <add key="built" value="4" />

  <add key="cacher-log" value="off" />

  <!-- where web-api sessions are stored: db|memory, default:memory -->
  <add key="session-storage-mode" value="memory" />
  <!-- Время залогиненной сесcии -->
  <add key="session-timeout" value="180" />

  <!-- Включает отладку xslt. Для разработки -->
  <add key="xslt-debug" value="false"/>

  <add key="multi-methods-mode" value="sequential" />

  <!-- Каталог, в котором лежит база GeoIP -->
  <!--<add key="geoip-dir" value="/data/GeoLiteCity.dat" />-->
  <add key="geoip-db" value="/data/geo/GeoLite2-City.mmdb" />

  <!-- Пусть к файлу локализации для нового API -->
  <add key="localization-dir-api" value="/data/" />
  <!-- Пусть к файлу локализации -->
  <add key="localization-dir" value="/data/localization.xml" />
  <!-- Пусть к файлу с вспомагательными файлами -->
  <add key="data-dir" value="/data" />

  <!-- Язык по-умолчанию для экземпляра системы -->
  <add key="default-language" value="en" />

  <!-- Каталог для временных файлов -->
  <add key="temporary-files-dir" value="\tmp"></add>

  <!-- Password validation regex -->
  <add key="password-regex" value="[\w]{8,25}"/>

  <!-- Формат вывода даты -->
  <add key="date-format" value="yyyy-MM-dd" />
  <!-- Формат вывода времени-->
  <add key="time-format" value="HH:mm" />
  <!-- Формат вывода даты-времени -->
  <add key="datetime-format" value="dd MMM, yyyy, HH:mm" />
  <!-- Формат вывода даты -->
  <add key="datetime-culture" value="en-US" />

  <!-- Формат даты для js -->
  <add key="date-stamp-format" value="yyyy-MM-dd" />
  <!-- Формат штампа времени -->
  <add key="datetime-stamp-format" value="yyyy-MM-ddTHH:mm:ss.fffffffK" />
  <!-- Клиентское время в запросе к API -->
  <add key="datetime-client" value="yyyyMMddHHmmss" />

  <!-- 'data' folder -->
  <add key="data-folder" value="C:\_\inv2\App\System\data" />
  
  <!-- API URL -->
  <add key="api-url" value="http://api.research.local" />
  <!-- on,true | off,false : Необходимость указания телефона при регистрации -->
  <add key="register-require-cell-phone" value="off" />

  <!-- on,true | off,false : Необходимость указания телефона при регистрации -->
  <add key="registration-by-invite" value="on" />
</common>