<processing>
  <add key="store-simulation" value="on"/>
  <add key="selling-simulation" value="on"/>
  <add key="order-simulation" value="on"/>
  <add key="site-simulation" value="on"/>

  <!-- Промежуток времени, через который очередь будет опять обработана (мин) -->
  <add key="queue-data-refresh" value="360" />
  <!-- Промежуток времени, через который очередь будет опять обработана, если произошла ошибка (мин) -->
  <add key="queue-data-refresh-failure" value="60" />
  <!-- Время отсылки отчёта на почту -->
  <add key="daily-review-time" value="10" />
  <!-- Промежуток времени через который на почту придут новые данные --><!--
  <add key="daily-review-refresh" value="24" />-->
  <!-- Промежуток времени, через который будет проверена очередь сайтов\ (млс) -->
  <add key="check-site-queue" value="600000" />
  <!-- Промежуток времени, через который сайт будет опять обработан\ (мин) -->
  <add key="site-category-refresh" value="60" />

  <add key="regex-email" value="^[\w-\+\.]+@[\w-]+(?:\.\w+){1,3}$" />

  <!-- Настройки многопоточного фонового сервиса процессинга -->
  <!-- Количество параллельных тредов -->
  <add key="service-thread-count" value="1" />
  <!-- Таймаут при остановке сервиса, который дается на остановку всех тредов -->
  <add key="service-stop-timeout" value="10000" />
  <!-- Таймаут при остановке сервиса, который выжидает система после того, как все треды были уведомлены об остановке сервиса -->
  <add key="service-stop-timeout2" value="5000" />
  <!-- Таймаут треда сервиса, который он находится в состоянии sleep каждый тик в холостом ходу -->
  <add key="service-worker-sleep" value="1000" />

  <add key="retry-count" value="10"/>
  <add key="retry-delay" value="10000"/>


  <!--<add key="thread-stop-timeout" value="5000"/>
  <add key="thread-stop-delay" value="50"/>-->

</processing>