<div class="startmaster" id="wrapper">
    <div id="main">
        <!--
            https://coinbase.com/signin
            https://sendtoinc.com/accounts/login/
             -->
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-lg-4 col-sm-3 col-xs-1"></div>
                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-10 center-block " style=" background: white; margin-top: 81px; padding-left:0px; padding-right:0px;">

                    <div app-view-segment="1" class="startmaster-container"></div>

                </div>
                <div class="col-md-4 col-lg-4 col-sm-3 col-xs-1"></div>
            </div>
        </div>

    </div>
</div>

<div id="footer" class="startmaster_footer">
    Research 2016
</div>
