<div data-ng-controller="TestCtrl" ng-init="init()">
    <div class="panel">
        <div ng-show="tryTest === false">
            <header class="panel-heading">
                Type of tests
            </header>
            <div class="panel-body table-responsive">
                <div class="box-tools m-b-15">
                    <div class="input-group">
                        <!-- <input type="text" name="table_search" class="form-control input-sm pull-right" style="width: 150px;" placeholder="Search" />-->
                        <!--<div class="input-group-btn">
                        <button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
                    </div>-->
                    </div>
                </div>
                <table class="table table-hover">
                    <tr>
                        <th>ID</th>
                        <th>Subject</th>
                        <th>Number of questions</th>
                        <th>Complexity</th>
                        <th>Pass the test</th>
                    </tr>
                    <tr ng-repeat="s in subjects">
                        <td>{{s.ID}}</td>
                        <td>{{s.Description}}</td>
                        <td><input type="number" id="{{s.ID}}"></td>
                        <td>
                            <select>
                                <option selected="selected">A</option>
                                <option>B</option>
                                <option>C</option>
                                <option>D</option>
                            </select>
                        </td>
                        <td>
                            <button type="button" ng-click="GetQuestions(s.ID);" class="btn btn-primary">Try</button>
                        </td>
                    </tr>
                </table>
            </div><!-- /.box-body -->
        </div>
    <div ng-show="tryTest === true">
        <section class="panel">
            <header class="panel-heading">
                Give the right answer
            </header>
            <div class="panel-body">
                <form class="form-horizontal tasi-form" method="get">

                    <div class="form-group" ng-repeat="q in questions">
                        <label class="col-sm-2 control-label col-lg-2" for="inputSuccess">{{q.Text}}</label>
                        <div class="col-lg-10">
                            <div class="radio" ng-repeat="a in q.Answers">
                                <label>{{a.Text}}
                                    <input type="radio" name="a.ID" checked=""/>
                                </label>
                            </div>                           
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success" style="margin-top: 20px;" ng-click="">Submit</button>
                </form>
            </div>
        </section>
    </div>
    </div><!-- /.box -->
</div>