<encrypting>
  <!-- Шифрование пароля пользователя-->
  <add key="accountPassword-provider" value="softAES" />
  <add key="accountPassword-password-softAES" value="8E3B01A2-8154-4848-B3D4-6AD14E909781" />
  <add key="accountPassword-salt-softAES" value="D62E2254-5C3F-4562-958D-BABA57DCCD60" />
</encrypting>