<div data-ng-controller="StudentsCtrl" ng-init="init()">
    <div class="panel">
        <section class="panel">
            <header class="panel-heading">
                Курсанти
            </header>
            <div class="panel-body">
                <form class="form-horizontal tasi-form" method="get">
                    <table class="table table-hover">
                        <tr>
                            <th>ID</th>
                            <th>ПІБ</th>
                            <th>Пошта</th>
                            <th>Результати</th>
                        </tr>
                        <tr ng-repeat="s in students" ng-show="addStudent === false">
                            <td>{{s.ID}}</td>
                            <td>{{s.Name}}</td>
                            <td>{{s.Email}}</td>
                            <td>
                                <p ng-repeat="subj in s.Subjects">{{subj.Text}}</p>
                            </td>
                        </tr>
                        <tr ng-show="addStudent === true">
                            <td></td>
                            <td><input type="text" id="name"></td>
                            <td><input type="text" id="email"></td>
                            <td><input type="number" id="mark"></td>
                        </tr>
                    </table>
                    <button ng-show="addStudent === false" type="submit" class="btn btn-default" style="margin-top: 20px;" ng-click="addStudent = true">Додати курсанта</button>
                    <button ng-show="addStudent === true" type="submit" class="btn btn-success" style="margin-top: 20px;" ng-click="addStudent = false;AddStudent()">Підтвердити</button>
                    <button ng-show="addStudent === true" type="submit" class="btn btn-warning" style="margin-top: 20px;" ng-click="addStudent = false">Відмінити</button>
                </form>
            </div>
        </section>
    </div><!-- /.box -->
</div>