<div data-ng-controller="DashboardCtrl" ng-init="init()">
    <div class="panel">
        <div class="panel">
            <header class="panel-heading">
                Головна
            </header>
            <div class="panel-body table-responsive">
                <div class="container">
                    <!-- Heading Row -->
                    <div class="row">
                        <div class="col-md-8">
                            <a href="#/test"><img class="img-responsive img-rounded" src="img/fire_engine.png" alt=""></a>
                        </div>
                        <!-- /.col-md-8 -->
                        <div style="" class="col-md-4">
                            <h1>Research</h1>
                            <p>This solution will help you to pass and create effective tests, based on irt technologies. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe rem nisi accusamus error velit animi non ipsa placeat. Recusandae, suscipit, soluta quibusdam accusamus a veniam quaerat eveniet eligendi dolor consectetur. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe rem nisi accusamus error velit animi non ipsa placeat. Recusandae, suscipit, soluta quibusdam accusamus a veniam quaerat eveniet eligendi dolor consectetur. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe rem nisi accusamus error velit animi non ipsa placeat. Recusandae, suscipit, soluta quibusdam accusamus a veniam quaerat eveniet eligendi dolor consectetur.</p>
                            <a class="btn btn-primary btn-lg" href="#/test">Pass the test!</a>
                        </div>
                        <!-- /.col-md-4 -->
                    </div>
                    <!-- /.row -->
                    <hr>
                    <!-- Call to Action Well -->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="well text-center">
                                This is a well that is a great spot for a business tagline or phone number for easy access!
                            </div>
                        </div>
                        <!-- /.col-lg-12 -->
                    </div>
                    <!-- /.row -->
                    <!-- Content Row -->
                    <div class="row">
                        <div class="col-md-4">
                            <h2>Create new questions</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe rem nisi accusamus error velit animi non ipsa placeat. Recusandae, suscipit, soluta quibusdam accusamus a veniam quaerat eveniet eligendi dolor consectetur.</p>
                            <a class="btn btn-default" href="#/question">More Info</a>
                        </div>
                        <!-- /.col-md-4 -->
                        <div class="col-md-4">
                            <h2>Pass tests</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe rem nisi accusamus error velit animi non ipsa placeat. Recusandae, suscipit, soluta quibusdam accusamus a veniam quaerat eveniet eligendi dolor consectetur.</p>
                            <a class="btn btn-default" href="#/test">More Info</a>
                        </div>
                        <!-- /.col-md-4 -->
                        <div class="col-md-4">
                            <h2>View results</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe rem nisi accusamus error velit animi non ipsa placeat. Recusandae, suscipit, soluta quibusdam accusamus a veniam quaerat eveniet eligendi dolor consectetur.</p>
                            <a class="btn btn-default" href="#/students">More Info</a>
                        </div>
                        <!-- /.col-md-4 -->
                    </div>
                    <!-- /.row -->
                    <!-- Footer -->
                </div>
            </div>
        </div>
    </div>
</div>
