<div data-ng-controller="DashboardCtrl" ng-init="init()">
    <div class="panel">
        <div class="panel">
            <header class="panel-heading">
                Home
            </header>
            <div class="panel-body table-responsive">
                <div class="container">
                    <!-- Heading Row -->
                    <div class="row">
                        <div class="col-md-8">
                            <a href="#/test"><img class="img-responsive img-rounded" src="img/test.gif" alt=""></a>
                        </div>
                        <!-- /.col-md-8 -->
                        <div class="col-md-4">
                            <h1>Research</h1>
                            <p>This is a template that is great for small businesses. It doesn't have too much fancy flare to it, but it makes a great use of the standard Bootstrap core components. Feel free to use this template for any project you want!</p>
                            <a class="btn btn-primary btn-lg" href="#/test">Pass the test!</a>
                        </div>
                        <!-- /.col-md-4 -->
                    </div>
                    <!-- /.row -->
                    <hr>
                    <!-- Call to Action Well -->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="well text-center">
                                This is a well that is a great spot for a business tagline or phone number for easy access!
                            </div>
                        </div>
                        <!-- /.col-lg-12 -->
                    </div>
                    <!-- /.row -->
                    <!-- Content Row -->
                    <div class="row">
                        <div class="col-md-4">
                            <h2>Create new questions</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe rem nisi accusamus error velit animi non ipsa placeat. Recusandae, suscipit, soluta quibusdam accusamus a veniam quaerat eveniet eligendi dolor consectetur.</p>
                            <a class="btn btn-default" href="#/question">More Info</a>
                        </div>
                        <!-- /.col-md-4 -->
                        <div class="col-md-4">
                            <h2>Pass tests</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe rem nisi accusamus error velit animi non ipsa placeat. Recusandae, suscipit, soluta quibusdam accusamus a veniam quaerat eveniet eligendi dolor consectetur.</p>
                            <a class="btn btn-default" href="#/test">More Info</a>
                        </div>
                        <!-- /.col-md-4 -->
                        <div class="col-md-4">
                            <h2>View results</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe rem nisi accusamus error velit animi non ipsa placeat. Recusandae, suscipit, soluta quibusdam accusamus a veniam quaerat eveniet eligendi dolor consectetur.</p>
                            <a class="btn btn-default" href="#/profile">More Info</a>
                        </div>
                        <!-- /.col-md-4 -->
                    </div>
                    <!-- /.row -->
                    <!-- Footer -->
                </div>
            </div>
        </div>
    </div>
</div>
