<div ng-controller="QuestionCtrl" ng-init="init()">
    <div class="panel">
        <header class="panel-heading">
            Створити предмет
        </header>
        <div class="panel-body table-responsive">
            <div class="box-tools m-b-15">
                <div class="input-group">
                    <label class="col-sm-2 col-sm-2 control-label">Предмет</label>
                </div>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="subjectInput">
                </div>
                <div class="input-group">
                    <button type="button" class="btn btn-success" ng-click="CreateSubject()">Підтвердити</button>
                </div>
                <div style="margin-top:25px; margin-left:15px">
                    <input type="file" name="UploadFile" id="txtUploadFile" class="makethispretty" />
                </div> 
            </div>
        </div>
    </div>
    <div class="panel">
        <header class="panel-heading">
            Створити питання
        </header>
        <div class="panel-body table-responsive">
            <div class="box-tools m-b-15">
                <div class="input-group">
                    <label class="col-sm-2 col-sm-2 control-label">Питання</label>
                </div>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="questionInput">
                </div>
                <div class="input-group" style="margin-top:50px">
                    <label class="col-sm-2 col-sm-2 control-label">Складність</label>
                </div>
                <div class="col-sm-4">
                    <input type="number" class="form-control" id="complexity">
                </div>
                <div class="input-group" style="margin-top:50px;margin-bottom:10px">
                    <label class="col-sm-12">Категорія</label>
                </div>
                <div class="col-sm-4">
                    <select id="category">
                        <option ng-repeat="c in categories" value="{{c.ID}}">{{c.Name}}</option>
                    </select>
                </div>
                <div class="input-group" style="margin-top:50px;margin-bottom:10px">
                    <label class="col-sm-12">Тип запитання</label>
                </div>
                <div class="col-sm-4">
                    <select id="type">
                        <option ng-repeat="t in types" value="{{t.ID}}">{{t.Text}}</option>
                    </select>
                </div>
                <div class="input-group" style="margin-top:50px">
                    <label class="col-sm-2 col-sm-2 control-label">Відповіді</label>
                </div>
                <div class="col-sm-4">
                    <input type="text" class="form-control" style="margin-bottom:15px;" id="answerInput1">

                    <input type="text" class="form-control" style="margin-bottom:15px;" id="answerInput2">

                    <input type="text" class="form-control" style="margin-bottom:15px;" id="answerInput3">

                    <input type="text" class="form-control" id="answerInput4">
                </div>

                <div class="col-sm-1">
                    <input type="number" class="form-control" style="margin-bottom:15px;" id="score1">

                    <input type="number" class="form-control" style="margin-bottom:15px;" id="score2">

                    <input type="number" class="form-control" style="margin-bottom:15px;" id="score3">

                    <input type="number" class="form-control" id="score4">
                </div>
                <div class="input-group" style="margin-top:200px;margin-left:15px">
                    <button type="button" class="btn btn-success" ng-click="CreateQuestion()">Підтвердити</button>
                </div>
            </div>
        </div>
    </div>
</div>
